/Intermediate
/Saved/Logs
/Saved/ShaderDebugInfo
Intermediate/CachedAssetRegistry_0.bin
*.bin
*.ini
/Saved/Config
*.log
*.png
/Saved/Autosaves
*.ini
/Saved/Config
/Saved/Logs
/Saved/Logs
/Saved/Autosaves
/Intermediate
/Saved/Autosaves
Saved/AutoScreenshot.png
/Saved/Config
/Saved/Logs
Saved/Logs/UdemyProject003.log
/Saved/Config
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
/Intermediate
/Saved/Autosaves
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Logs/UdemyProject003.log
